.bright-content{
    display:flex;
    flex-direction:column;
    margin-left:11%;
}

#bright-future{
    line-height: 115%;
}
img{
    width:88%;
    height: 50%;
}
.outer-container{
    display:flex;
    margin-right:38%;
    width:90%;
}
.inner-container2{
    margin-top:2%;
    margin-left:4%;
    text-align:justify;
    margin-right:12%;
}
#read-button{
    background-color:#ff4500;
    border-radius: 0;
    margin-top: 7%;;
}
.inner-container1{
    margin-left:0%;
    text-align: justify;
    width:120%;
}